In [1]:
total = 100
print("The total is", total)

The total is 100

In [2]:
total = total + 99
print("The total is now", total)

The total is now 199

In [3]:
total -=1 
print("The total is", total)

total *= 4
print("The total is", total)

total /= 2
print("The total is", total)

The total is 198
The total is 792
The total is 396.0

In [4]:
total = 98.2
count = 5
average = total/count

print("Total: ", total)
print("Count: ", count)
print("Average: ", average)

Total:  98.2
Count:  5
Average:  19.64

In [5]:
type(False)

bool

In [6]:
type(1000)

int

In [7]:
type(100.111)

float

In [8]:
type("Hello")

str

In [9]:
type(True)

bool

In [10]:
type(100/5)

float

In [11]:
type(100//5)

int

In [12]:
"ABC" * 10

'ABCABCABCABCABCABCABCABCABCABC'

In [13]:
name = "Roshan"
address = "ramgopalpur"
contact_no = "9814865861"

print("Name:\t", name)
print("Address:\t", address)
print("Contact:\t", contact_no)
print("Length of Name:\t", len(name))

Name:	 Roshan
Address:	 ramgopalpur
Contact:	 9814865861
Length of Name:	 6

In [14]:
val_1 = int(input("Enter first value: "))
val_2 = int(input("Enter second value: "))
print(f"Product of {val_1} and {val_2} is {val_1*val_2}")

ValueError: invalid literal for int() with base 10: ''

In [15]:
comment = "I would have \"thought\" you knew better!"

In [16]:
print("This text includes characters such as '\\' '\"' and \"'\",\n\tThis is a new line that starts with a tab\n\t\tThis new line starts with two tabs ")

This text includes characters such as '\' '"' and "'",
	This is a new line that starts with a tab
		This new line starts with two tabs

In [17]:
print("\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ \nHello there!\n\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\")

\\\\\\\\\\\\\\\\\\\\\\
Hello there!
\\\\\\\\\\\\\\\\\\\\\\

In [18]:
print("""This text spans three lines,
and includes both single ('),
and double quotes (").
""")

This text spans three lines,
and includes both single ('),
and double quotes (").

In [19]:
surname = "Palin"
print(surname[2])

l

In [20]:
surname = "Palindrome"
tenth_letter = surname[9]

print(tenth_letter)

e

In [21]:
surname = "Palin"

print(surname[-2])

i

In [22]:
surname = "Palin"

print(surname[1:])

alin

In [23]:
surname = "Palin"

print(surname[:-1])

Pali

In [24]:
print(surname[1:10000])

alin

In [25]:
primes = [2, 3, 5, 7, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
primes[:4]

[2, 3, 5, 7]

In [26]:
names = ["Terry", "John", "Michael", "Eric", "Terry", "Graham"]
new_names = ["Jon", "Bob"]
names[-1:-1] = new_names
print(names)

['Terry', 'John', 'Michael', 'Eric', 'Terry', 'Jon', 'Bob', 'Graham']

In [27]:
names = ["Terry", "John", "Michael", "Eric", "Terry", "Graham"]
new_names = ["Jon", "Bob"]
names[-1:-1] = new_names
print(names)

['Terry', 'John', 'Michael', 'Eric', 'Terry', 'Jon', 'Bob', 'Graham']